.navButton{
    text-decoration: none;
    margin: 0 8px;
}

.buttonEventPage{
    width: 80%;
    margin-top: 50px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin:auto;
    /* background-color: blue; */
}
.upcoming{
    padding: 50px;
    /* background-color: aqua; */
}
.buttonCities{

    display: flex;
    flex-direction: row;
    margin: 50px, 10px;
    /* background-color: aqua; */
}
.formWidth{
    margin:auto;
    width: 55%
}
.textIcon{
  /* background-color: aqua; */
}
@media (max-width: 992px){
    .formWidth{
        width: 80%;
    }
}
@media (max-width: 600px){
    .buttonEventPage{
        flex-wrap: wrap;
    }
    .formWidth{
        width: 95%;
        
    }
}